/* Css Reset  */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* Utility Classes */


/* Navbar styles  */
.gym-logo{
    /* font-size: ; */
}
nav .menubar{

    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.logo-title{
    font-size: 52px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .4rem;
    border-right: .10em solid #FF8D8D;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: demo-typewriter 3s steps(30, end), demo-cursor 1s step-end infinite;
}
@keyframes demo-typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes demo-cursor {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #FF8D8D;
    }
}
nav li{
    list-style: none;
    padding: 15px;

}
.menu-items{
    display: flex;
    margin-right: 130px;
}
nav li a{
    text-decoration: none;
    /* padding: 10px; */
    font-size: 18px;
    color:white;
}
/* Home section strat form here  */
.home-container{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}
.home{
    display: flex;
    align-items: center;

}
.lfet-side{
    margin-left: 50px;
    margin-top: 100px;
}
 .text{
    color: rgb(219, 19, 19);
    margin: 10px;
    font-size: 22px;
    font-weight: 700;

 }
 .title{
    font-size: 70px;
    font-weight: 700;
 }
 .text2{
    color: rgb(196, 205, 205);
    font-size: 22px;
    font-weight: 700;
    margin: 10px;
 }
 .learn-btn{
    padding: 20px 45px;
    background-color: red;;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    font-weight: 400;
    transition: all .3s ease-in-out;
 }
 .learn-btn:hover{
    background-color: blue;
    cursor: pointer;
 }
 .right-side img{
    width: 100%;
 }
 /* take a look section start form here  */
 .look-heading{
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
 }
.card-wraper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 10px;
    flex-direction: row;
} 
.card{
    width: 270px;
    border: 2px solid gray;
    text-align: center;
    margin: 0 auto;
    padding: 25px;  
    box-shadow: 3px 3px 6px #808080db;
    border-radius: 7px;
    margin-top: 20px;
    transition:  all .5s ease-in-out ;
}
.card:hover {
    border: 1px solid #ff0000b8;
    margin-top: -10px;
    /* transition: .5s; */
    cursor: pointer;
}
.package-text{
    text-align: justify;
}
.card img{
    width: 70px;
}
.take-a-look{
    margin-bottom: 50px;
}

 /* take a look section end here  */
 /* About Us Section  */
 .about-section{
    background-color: black;
    color: white;

 }
 .about-heading{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;

 }
 .about-us{
    display: flex;
    justify-content: space-evenly;
 }
 .about-left{
    border-top: 1px solid red;
    width: 500px;
 }
 .about-right{
    border-top: 1px solid grey;
    width: 600px;
 }
 .about-img{
    display: flex;
 }
 .right-title {
    font-size: 43px;
    font-weight: 900;
    margin-bottom: 20px;
}
.right-description {
    font-size: 22px;
    color: rgb(196, 205, 205);
    margin: 10px;
    font-weight: 700;
}
.list-container {
    font-size: 18px;
    margin-top: 40px;
    line-height: 1.5;
    list-style: square;
}
.about-img1 img {
    margin-top: 50px;
    height: 500px;
    transform: skewY(-15deg);
    padding: 20px;
}
.about-img2 img {
    margin-top: 50px;
    height: 500px;
    padding: 20px;
    transform: skewY(-15deg);
}
 /* About Us section End here  */
 /* Workout inquary section sart here  */
 .wrokout-inquary-container{
    margin-top: 50px;
    padding: 20px;
 }
 .wrokout-inquary{
    width: 700px;
    height: 200px;
    margin: 0 auto;
    background: url(./images/shape/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    border-radius: 25px;
 }
 .workout-left h1{
    font-size: 32px;
 }
 .chat-btn {
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    background-color: rgb(248, 246, 246);
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
}
.chat-btn:hover{
    background-color: blue;
    color: white;
}
 /* Workout inquary section end here  */


 /* Our services section start from  here  */
 .our-services{
    margin-top: 100px;
 }
 .our-services .service-heading{
    text-align: center;
    font-size: 50px;
 }
 .services-cards{
    display: flex;
    /* align-items: center; */
    margin-top: 50px;
    justify-content: center;
 }
 .service-card{
    width: 350px;
    margin: 20px;
    box-shadow: 7px 7px 16px #2c2727;
    overflow: hidden;
    border-radius: 5px;

 }

 .service-img img{
    width: 100%;
    height: 290px;
    border-radius: 5px;
}
.service-description {
    padding: 15px;
    line-height: 1.5;
}

.price-btn {
    color: red;
    font-size: 18px;
}

.title4 {
    font-size: 25px;
    font-weight: 600;
}
.service-footer{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.price{
    font-size: 28px;
    font-weight: 800;
}
 /* Our services section start end  here  */

 /* Footer part start from here  */
 footer{
    margin-top: 70px;

 }
 .footer-container{
    padding: 100px;
    line-height: 1.5;
 }
 .footer-description{
    text-align: center;
 }
 .footer-description h5{
    color: #8a8d91;
    margin-top: 50px;
    word-spacing: 25px;
    font-size: 15px;
 }
 .footer-description h5 a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
 }
 .footer-description h5 a:hover{
    color: red;
    text-decoration: underline;
 }
 .copyright{
    font-size: 16px;
 }
 .copyright a{
    color: red;
    text-decoration: none;
 }
 /* Footer part start from here  */
